extends includes/layout

block css
  link(href="/assets/css/home-page.css", rel="stylesheet")

block content
  body#skrollr-body

    include includes/fragment_loader

    nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button#menu-toggle.navbar-toggle(type='button', data-toggle='collapse', data-target='#example')
            span.sr-only Toggle navigation
            span.icon-bar.bar1
            span.icon-bar.bar2
            span.icon-bar.bar3
          a.navbar-brand(href='/')
            | T`Della 
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right.navbar-uppercase
            li
              a(href='/order-now')
                | Order Now!
            li.social-links
              a#facebookNav(href='javascript:void(0);', data-url='/')
                i.fa.fa-facebook
              a#twitterNav(href='javascript:void(0);', data-url='/')
                i.fa.fa-twitter
              a#googleplusNav(href='javascript:void(0);', data-url='/')
                i.fa.fa-google-plus
        // /.navbar-collapse
    .wrapper
      #fullpage
        #section0.section.section-header.section-plain.section-first
          .parallax
            img(src='/assets/images/background_01.jpg')
            .container.alpha-foreground
              .content
                p.text-muted
                  span by 
                  | Tracy Delagardel 
                h1 T`Della Creations
                .separator-container
                  .separator.line-separator ✻
                h5.text-muted
                  | Create a beautiful and stylish Travel Journals, Photo Albums, Junk Books, etc... 
                  br
                  | T`Della Creations LLC 
            a.scroll-arrow.hidden-xs.hidden-sm(href='javascript:void(0)', data-scroll='true', data-id='#section1')
              i.fa.fa-angle-down
        #section1.section.section-builder
          .container
            .content
              .row
                .col-md-4.col-sm-5.col-md-offset-1
                  .builder-image
                    .box-1
                      figure.slide.jbs-current
                        img(src='/assets/images/books/img_001.jpg')
                      figure.slide
                        img(src='/assets/images/books/img_002.jpg')
                      figure.slide
                        img(src='/assets/images/books/img_003.jpg')
                  .builder-image
                    .box-2
                      figure.slide.jbs-current
                        img(src='/assets/images/books/img_003.jpg')
                      figure.slide
                        img(src='/assets/images/books/img_001.jpg')
                      figure.slide
                        img(src='/assets/images/books/img_002.jpg')
                  .builder-image
                    .box-3
                      figure.slide
                        img(src='/assets/images/books/img_002.jpg')
                      figure.slide.jbs-current
                        img(src='/assets/images/books/img_003.jpg')
                      figure.slide
                        img(src='/assets/images/books/img_001.jpg')
                .col-md-5.col-sm-5.col-sm-offset-1.col-md-offset-1
                  .title
                    h2 Create your own Book Today! 
                    .separator-container
                      .separator.line-separator ♦
                    p
                      | Create your own custom junk / travel journals made from repurposed books or templates by Jenofveve Designs.  Custom books for baby, birthday, wedding or any special occasion.
                    br
                    a.btn.btn-lg.btn-fill.btn-neutral.btn-animation(href='/portfolio')
                      | Check out the Della Portfolio! 
                      i.fa.fa-wrench
        #section2.section.section-we-made-3.section-with-hover.section-examples
          .container
            .text-area
              .title
                h5.text-muted You will never see the same two books 
                h2 Every Book is Crafted by Hand 
                .separator-container
                  .separator.line-separator ♦
                p
                  | We have created 4 examples that can help you jump start your new Journal in just a matter of minutes. Just click on the images to view the details of each book type.
            #projectsLine1.row
              .col-md-6
                .project.add-animation-stopped.animation-1
                  img(alt='...', src='/assets/images/books/img_14.jpg')
                  a.over-area.color-presentation(href='javascript:void(0)', onclick='della.showModal(this)', data-target='project_1')
                    .content.text-center
                      h4 Junk Book
                      p Customize your agency presentation with many combinations.
                      br
                      p.action
                        | Click to View Example
              .col-md-6
                .project
                  img(alt='...', src='/assets/images/books/img_013.jpg')
                  a.over-area.color-presentation(href='javascript:void(0)', onclick='della.showModal(this)', data-target='project_1')
                    .content
                      h4 Travel Journal 
                      p
                        | Create a simple and elegant presentation page 
                        br
                        |  for your company or enterprise.
                      br
                      p.action
                        | Click to View Example
              .col-md-6
                .project
                  img(alt='...', src='/assets/images/books/img_17.jpg')
                  a.over-area.color-presentation(href='javascript:void(0)', onclick='della.showModal(this)', data-target='project_1')
                    .content
                      h4 Photo Album 
                      p Present your startup team in an unique and beautiful way.
                      br
                      p.action
                        | Click to View Example
              .col-md-6
                .project
                  img(alt='...', src='/assets/images/books/img_025.jpg')
                  a.over-area.color-presentation(href='javascript:void(0)', onclick='della.showModal(this)', data-target='project_1')
                    .content
                      h4 Browse Portfolio 
                      p Create a simple and elegant portfolio page for your projects.
                      br
                      p.action
                        | Click to View Example
        #section45.section.section-buy.pattern-image
          .full-background
            .container
              .content
                .title
                  h2 Buy Now
                  .separator-container
                    .separator.line-separator $
                  p
                    | Each package comes with fully designed hand made journal and matching box. 
                .row
                  .col-md-5.col-md-offset-1
                    .card.card-price
                      .content-inside
                        h3 In Stock 
                        p Choose from exsisting hand made books, no two are or will ever be the same!! 
                        br
                        br 
                        br
                        h1
                          small $
                          span 50
                        .footer
                          a.btn.btn-default.btn-fill(href='/order-now') Buy now!
                  .col-md-5
                    .card.card-price
                      .content-inside
                        h3 Custom Made 
                        p Want to add your own personal touch?  This is where you can purchase your very own custom hand made book. 
                        br
                        br
                        h1
                          small $
                          span 100
                        .footer
                          a.btn.btn-default(href='http://www.creative-tim.com/buy/rubik-presentation-page') Buy now!

            //- include includes/fragment_contact

            .section-footer.share-area
              .container
                .content
                  p Thank you for sharing!!
                  .separator-container
                    .separator.line-separator
                      i.fa.fa-share
                  .row
                    .col-md-8.col-md-offset-2
                      .col-md-6
                        #twitterNav(data-url='/')
                      .col-md-6
                        #facebookNav(data-url='/')
                      .col-md-4.hidden
                        #googleplusNav(data-url='/')

              include includes/fragment_footer
    
    #project_1.project-content
      div
        .project-details
          span.icon-close
            i.pe-7s-close-circle
          .container
            .project-title
              h5
                | Project Content
                span .
              h2 Example No.1
              .separator-container
                .separator.line-separator ✻
            .row
              .col-md-4
                .project-text
                  p
                    span Detail
                    | 1
                  p
                    span Detail
                    | 2
                  p
                    span Detail
                    | 3
                  p
                    span Detail
                    | 4
                  br
                  p
                    | Not him old music think his found enjoy merry. Listening acuteness dependent at or an. Apartments thoroughly unsatiable terminated sex how themselves. She are ten hours wrong walls stand early. Domestic perceive on an ladyship extended received do. Why jennings our whatever his learning gay perceive. Is against no he without subject. Bed connection unreserved preference partiality not unaffected. Years merit trees so think in hoped we as.
                  p
                    | Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage mr be. Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors.
              .col-md-8
                .row
                  .col-md-6
                    .project-image
                      img(alt='...', src='/rubik/assets/img/rubik_background2.jpg')
                  .col-md-6
                    .project-image
                      img(alt='...', src='/rubik/assets/img/rubik_background2.jpg')
                  .col-md-6
                    .project-image
                      img(alt='...', src='/rubik/assets/img/rubik_background2.jpg')
                  .col-md-6
                    .project-image
                      img(alt='...', src='/rubik/assets/img/rubik_background2.jpg')

block javascript
  script(type='text/javascript').
    var della = new TDella();

    console.log('TDella Object = ', della);

    della.init.home();


