
extends includes/layout

block content
  body#skrollr-body

    include includes/fragment_loader

    nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button#menu-toggle.navbar-toggle(type='button', data-toggle='collapse', data-target='#example')
            span.sr-only Toggle navigation
            span.icon-bar.bar1
            span.icon-bar.bar2
            span.icon-bar.bar3
          a.navbar-brand(href='/')
            i.fa.fa-angle-left
            |  Back to Home 
        .navbar-scroll-to.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.active(href='', data-scroll='true', data-id='#whoWeAre')
                | About
            li
              a(href='', data-scroll='true', data-id='#values')
                | Values
            li
              a(href='', data-scroll='true', data-id='#projects')
                | Projects
            li
              a(href='', data-scroll='true', data-id='#clients')
                | Clients
            li
              a(href='', data-scroll='true', data-id='#team')
                | Code Names
            li
              a(href='', data-scroll='true', data-id='#numbers')
                | Numbers
            li
              a(href='', data-scroll='true', data-id='#contact')
                | Contact
        // /.navbar-collapse
    .wrapper
      #header3.section.section-header.content-with-opacity
        #video-container-3.full-image.pattern-image.filter.filter-color-black(data-color='black')
          video.bgvid(preload='auto', autoplay='true', loop='loop', muted='muted', volume='0', responsive-src='https://download.unsplash.com/photo-1428517105157-da7cfd843eb8')
            source(src='/assets/video/Snow_Wires.webm', type='video/webm')
            source(src='/assets/video/Snow_Wires.mp4', type='video/mp4')
            |                                     Video not supported
          .container
            .content
              p
                span by 
                | Tracy  
              h1 T`Della Portfolio 
              .separator-container
                .separator.line-separator ✻
              h5 See some of my works and how its done! 
        a.scroll-arrow.hidden-xs.hidden-sm(href='', data-scroll='true', data-id='#whoWeAre')
          i.fa.fa-angle-down

      #whoWeAre.section.section-we-are-1
        .text-area
          .container
            .row
              .title.add-animation
                h2
                  | Tracy  
                  br
                  |  the creator 
                .separator-container
                  .separator.line-separator ⌘
                p
                  | I designed this site so you can get to know me on a personal level. My career as a professional photographer, my portfolio, my personal photography, my blog, my favourite quotes, and so much more. So please sit back and enjoy!.
        #carousel
          #carousel-example-generic.carousel.slide.add-animation.animation-1(data-interval='false')
            // Wrapper for slides
            .carousel-inner.pattern-image
              .item
                img.full-image(src='/assets/images/books/img_01.jpg', alt='Awesome Image')
              .item
                img.full-image(src='/assets/images/books/img_08.jpg', alt='Awesome Image')
              .item.active
                img.full-image(src='/assets/images/books/img_12.jpg', alt='Awesome Image')
            // Controls
            a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
              span.fa.fa-angle-left.hidden-md.hidden-lg
            a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
              span.fa.fa-angle-right.hidden-ms.hidden-lg
      #values.section.section-we-do-2
        .container
          .title.add-animation
            h2 What I do
            .separator-container
              .separator.line-separator ⌘
            p I am a professional fine art photographer in Sante Fe.
          .row
            .col-md-3.col-sm-6
              .card.add-animation.animation-1
                .icon
                  i.pe-7s-medal
                h3 Best Picture Awarded
                p
                  | Not to brag, but I have been awarded for the Best Picture Award, which is a small token of recognition for my life of working in photography.
            .col-md-3.col-sm-6
              .card.add-animation.animation-2
                .icon
                  i.pe-7s-camera
                h3 Modern technology
                p
                  | I like to use state of the art technology and only the best tools. Since 2010 a great company sponsors me with all the cool suff.
            .col-md-3.col-sm-6
              .card.add-animation.animation-3
                .icon
                  i.pe-7s-global
                h3 Many locations
                p
                  | I love to move around and visit a lot of places. I have travelled for most of my life and I've taken pictures everywhere I went.
            .col-md-3.col-sm-6
              .card.add-animation.animation-4
                .icon
                  i.pe-7s-like
                h3 For every pic
                p
                  | I like to tell a story with every photo that I take. I want for the viewers to get an immediate reaction and feeling. From every single picture.

      #projects.section.section-we-made-2.section-with-hover
        .projects
          .text-area
            .title.add-animation
              h2 Some of the stuff
              .separator-container
                .separator.line-separator ⌘
              p You cand see some of my stuff here, the full projects are on Tumblr.
          .info.add-animation.animation-1
            p.text-center.text-gray Custom Made Scrapbooks 
          .row.scroller
            .col-lg-3.col-md-6.col-sm-6
              .project.add-animation.animation-1
                img(src='/assets/images/books/img_04.jpg')
            .col-lg-3.col-md-6.col-sm-6
              .project.add-animation.animation-2
                img(src='/assets/images/books/img_06.jpg')
            .col-lg-3.col-md-6.col-sm-6
              .project.add-animation.animation-3
                img(src='/assets/images/books/img_08.jpg')
            .col-lg-3.col-md-6.col-sm-6
              .project.add-animation.animation-4
                img(src='/assets/images/books/img_22.jpg')
                a.over-area.color-blue(href='javascript:void(0)', onclick='TDella.showModal(this)', data-target='project_4')
                  .content.hidden-xs
                    h4 See The Jucie Details! 
          .projects
            .info.add-animation.animation-1
              p.text-center.text-gray Stylish Boxes and Journals 
            .row.scroller.scroller-portrait
              .col-lg-3.col-md-6.col-sm-6
                .project.add-animation.animation-1
                  img(src='/assets/images/books/img_17.jpg', style='margin-top: -100px')
              .col-lg-3.col-md-6.col-sm-6
                .project.add-animation.animation-2
                  img(src='/assets/images/books/img_09.jpg', style='margin-top: -200px')
              .col-lg-3.col-md-6.col-sm-6
                .project.add-animation.animation-3
                  img(src='/assets/images/books/img_30.jpg', style='margin-top: -100px')
              .col-lg-3.col-md-6.col-sm-6
                .project.add-animation.animation-4
                  img(src='/assets/images/books/img_15.jpg', style='margin-top: -200px')
                  a.over-area.color-blue(href='javascript:void(0)', onclick='TDella.showModal(this)', data-target='project_4')
                    .content.hidden-xs
                      h4 See The Jucie Details! 
          .projects
            .info.add-animation.animation-1
              p.text-center.text-gray Bear's Oldtimer Muscle Car
            .row.scroller
              .col-lg-3.col-md-6.col-sm-6
                .project.add-animation.animation-1
                  img(src='/assets/img/projects/photographer_9.jpg')
              .col-lg-3.col-md-6.col-sm-6
                .project.add-animation.animation-2
                  img(src='/assets/img/projects/photographer_10.jpg')
              .col-lg-3.col-md-6.col-sm-6
                .project.add-animation.animation-3
                  img(src='/assets/img/projects/photographer_11.jpg')
              .col-lg-3.col-md-6.col-sm-6
                .project.add-animation.animation-4
                  img(src='/assets/img/projects/photographer_12.jpg')
                  a.over-area.color-blue(href='javascript:void(0)', onclick='TDella.showModal(this)', data-target='project_4')
                    .content.hidden-xs
                      h4 See The Jucie Details! 

      include includes/fragment_contact
      include includes/fragment_footer

    include includes/modals/modal_1 
    include includes/modals/modal_4 

block javascript
  script(type='text/javascript', src='/assets/scripts/folio.js')


