
block content 
  #contact.section.section-contact-2
    .container
      .text-area
        .title.add-animation
          h2 Get in Touch
          .separator-container
            .separator.line-separator ⌘
          p
            | Would you want to talk about creating your very own Book? Just send me your message and I will happily discuss options with you! 
      .contact-form
        .row
          .col-md-4
            .form-group.add-animation.animation-1
              label Your Full Name
              input.form-control(type='text', value='', placeholder='Tracy Della')
          .col-md-4
            .form-group.add-animation.animation-2
              label Your Email
              input.form-control(type='text', value='', placeholder='tdella@gmail.com')
          .col-md-4
            .form-group.add-animation.animation-3
              label Subject
              input.form-control(type='text', value='', placeholder='What would you like to discuss?')
          .col-md-12
            .form-group.add-animation.animation-1
              textarea.form-control(placeholder='Here you can write your message', rows='8')
            div
              .col-md-2.col-md-offset-5.col-sm-2.col-sm-offset-5
                button.btn.btn-lg.btn-black.btn-contact
                  | SEND 
                  i.fa.fa-paper-plane

