
block content
  footer.footer
    .container
      nav.pull-left
        ul
          li
            a(href='/')
              | T`Della Creations
          li
            a(href='/')
              | About Us
          li
            a(href='/license', target='_blank')
              | Licenses
          li
            a(href='/contact-us', target='_blank')
              | Contact Us
      .copyright
        | © 2017, made with 
        i.fa.fa-heart
        |  by 
        a(href='') Dynamix Web Solutions 
