
block content
  .text-area
    .title.add-animation-stopped.animate
      h2 Contact T`Della Creations 
      .separator-container
        .separator.line-separator ✻
  .section.contact-container
    .address-container.add-animation-stopped.animation-1.animate
      .address
        h4 Where to meet ?
        p.text-gray
          | 2578 Paris
          br
          | Rue Abel, 12
          br
          | Las Vegas, NV 
        h4 Phone
        p.text-gray 0456 / 71 21 39
        h4 By the old way
        a(href='mailto:tdellacreations@gmail.com')
          p.text-gray tdellacreations@gmail.com 
    .map
      #contactUsMap.big-map(style='position: relative; overflow: hidden;')


