
block content
  footer.footer
    .container
      nav.pull-left
        ul
          li
            a(href='/')
              | T`Della Creations
          li
            a(href='', data-scroll='true', data-id='#whoWeAre')
              | About Us
          li
            a(href='/terms', target='_blank')
              | Terms 
          li
            a(href='/privacy-policy', target='_blank')
              | Privacy Policy 
          li
            a(href='/contact-us', target='_blank')
              | Contact Us
      .copyright
        | © 2017, made with 
        i.fa.fa-heart
        |  by 
        a(href='') Dynamix Web Solutions 
