doctype html
html(lang='en')
  head
    title #{title}
    link(rel='icon', type='image/png', href='/assets/img/favicon.ico')

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')

    -if ( environment == "development" ) {
      link(href='/assets/css/fonts/font-awesome-3.4.0.min.css', rel='stylesheet')
      link(href='/assets/css/fonts/font-googleapis-Droid-Serif.css', rel='stylesheet')
      link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    -} else {
      link(href='#{ config.google.fonts.droid }', rel='stylesheet')
      link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
      link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700', rel='stylesheet', type='text/css')
    -} 

    link(href='/assets/css/bootstrap.css', rel='stylesheet')
    link(href='/assets/css/tdella.css', rel='stylesheet')
    link(href='/assets/css/fonts/pe-icon-7-stroke.css', rel='stylesheet')
    link(href='/assets/css/fonts/Della-Fonts.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Grand+Hotel', rel='stylesheet', type='text/css')

    block css

  block content

  block footer

  script(type='text/javascript', src='/assets/scripts/jquery/jquery-1.11.2.min.js')
  script(type='text/javascript', src='/assets/scripts/bootstrap/bootstrap.js')
  script(type='text/javascript', src='/assets/scripts/gui/guerrilla-ui.js')

  script(type='text/javascript', src='/assets/scripts/jquery/jquery.waypoints.min.js')
  script(type='text/javascript', src='/assets/scripts/jquery/jquery.box-slider.min.js')
  script(type='text/javascript', src='/assets/scripts/jquery/jquery.slimscroll.min.js')
  script(type='text/javascript', src='/assets/scripts/jquery/jquery.fullPage.js')
  script(type='text/javascript', src='/assets/scripts/jquery/jquery.sharrre.js')

  script(type='text/javascript', src='/assets/scripts/modernizr.js')
  script(type='text/javascript', src='/assets/scripts/optimizer.js').
  script(type='text/javascript', src='/assets/scripts/tdella.js')

  block javascript

