

block content
  -if ( !modal ) {
    modal = {};
  -}
  #project_4.project-content
    div
      .project-details
        span.icon-close
          i.pe-7s-close-circle
        .container
          .project-title
            h5 #{ modal.title}
            h2 #{ modal.pname } 
            .separator-container
              .separator.line-separator ✻
          .product
            .row
              .col-md-4
                .project-text.text-right
                  #{ modal.text_right }
                  //- p
                    | Pencil’s certified Bluetooth Smart wireless delivers a fast, stable connection with industry-leading power conservation
                  //- p
                    | Each Pencil is milled from a single, solid piece of material. Graphite brushed aluminum model shown.
              .col-md-4
                .project-image
                  img(alt='...', src='/assets/img/rubik_background3.png')
              .col-md-4
                .project-text
                  p
                    | Pencil’s certified Bluetooth Smart wireless delivers a fast, stable connection with industry-leading power conservation
                  p
                    | Each Pencil is milled from a single, solid piece of material. Graphite brushed aluminum model shown.


