

block content
  #project_2.project-content
    div
      .project-details
        span.icon-close
          i.pe-7s-close-circle
        .container
          .project-title
            h2 Example No.2
            .separator-container
              .separator.line-separator ✻
            p
              | We've been working with Kingsman Studios and we are proud that they enjoy our results.
          .row
            .col-md-10.col-md-offset-1
              .article
                .project-image
                  img(alt='...', src='/rubik/assets/img/rubik_background2.jpg')
                .project-text
                  h3
                    | Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce
                    span .
                  p
                    | Not him old music think his found enjoy merry. Listening acuteness dependent at or an. Apartments thoroughly unsatiable terminated sex how themselves. She are ten hours wrong walls stand early. Domestic perceive on an ladyship extended received do. Why jennings our whatever his learning gay perceive. Is against no he without subject. Bed connection unreserved preference partiality not unaffected. Years merit trees so think in hoped we as.
                  p
                    | Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage mr be. Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors
                    span .
