
block content
  #project_1.project-content
    div
      .project-details
        span.icon-close
          i.pe-7s-close-circle
        .container
          .project-title
            h5
              | Project Content
              span .
            h2 Example No.1
            .separator-container
              .separator.line-separator ✻
          .row
            .col-md-4
              .project-text
                p
                  span Detail
                  | 1
                p
                  span Detail
                  | 2
                p
                  span Detail
                  | 3
                p
                  span Detail
                  | 4
                br
                p
                  | Not him old music think his found enjoy merry. Listening acuteness dependent at or an. Apartments thoroughly unsatiable terminated sex how themselves. She are ten hours wrong walls stand early. Domestic perceive on an ladyship extended received do. Why jennings our whatever his learning gay perceive. Is against no he without subject. Bed connection unreserved preference partiality not unaffected. Years merit trees so think in hoped we as.
                p
                  | Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage mr be. Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors.
            .col-md-8
              .row
                .col-md-6
                  .project-image
                    img(alt='...', src='/rubik/assets/img/rubik_background2.jpg')
                .col-md-6
                  .project-image
                    img(alt='...', src='/rubik/assets/img/rubik_background2.jpg')
                .col-md-6
                  .project-image
                    img(alt='...', src='/rubik/assets/img/rubik_background2.jpg')
                .col-md-6
                  .project-image
                    img(alt='...', src='/rubik/assets/img/rubik_background2.jpg')

