

block content
  -if ( !modal_4 ) {
    modal_4 = {};
  -}
  #project_4.project-content
    div
      .project-details
        span.icon-close
          i.pe-7s-close-circle
        .container
          .project-title
            h5 #{ modal_4.title}
            h2 #{ modal_4.pname } 
            .separator-container
              .separator.line-separator ✻
          .product
            .row
              .col-md-4
                .project-text.text-right
                  #{ modal_4.text_right }
              .col-md-4
                .project-image
                  img(alt='...', src='/assets/img/rubik_background3.png')
              .col-md-4
                .project-text
                  #{ modal_4.ptext }


